.App {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}


.workspace {
  width: 1200px;
  height: 780px;

  display: flex;
  flex-direction: column;
}

.settings {
  position: absolute;
  top: 5%;
  left: 90%;
  transform: translate(-90%, -5%);

  display: flex;
  justify-content: center;
  align-items: center;

  .s-keyboard-visibility-button {
    display: flex;
    flex-basis: 50px;
    height: 38px;
    align-items: center;
    justify-content: center;

    margin-right: 15px;

    border: 1px solid #a7a7a7;
    border-radius: 5px;
  }
}
